/* Google fonts script */
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@500&display=swap');

body {
    font-family: Smooch Sans, sans-serif;
    font-weight: 500;
    background-color: #fff;
    color: #000;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.game-area {
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.controls-area {
    display: flex;
    justify-content: center;
}

.results-area {
    display: flex;
    justify-content: center;
}

.score-area {
    display: flex;
}

.btn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid;
    margin: 5px;
}

.thirds {
    width: 33%;
    display: flex;
    justify-content: center;
}

.results {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 10px solid;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-regular, .fa-solid {
    font-size: 40px;
}