/* Google fonts script */
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@500&display=swap');

body {
    font-family: Smooch Sans, sans-serif;
    font-weight: 500;
    background-color: #fff;
    color: #000;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}