/* Google fonts script */
/* Google fonts script */
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@500&display=swap');

body {
    font-family: Smooch Sans, sans-serif;
    font-weight: 500;
    background-color: #fff;
    color: #000;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.188rem;
    margin-top: 0.625rem;
}

h3 {
    font-size: 1.563rem;
}

/* Game area */
.game-area {
    background-color: #E1CE7A;
    box-sizing: border-box;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

/* Flexbox styling for Controls and Game-State areas */
.thirds {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Controls area */
.controls-area {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls-area .fa-regular {
    font-size: 2.5rem;
}

.weapons {
    display: flex;
    margin: 0.625rem 0 1.25rem 0;
}

.btn {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #fff;
    border: 0.313rem solid #000;
    margin: 0 0.625rem;
}

.active {
    color: #11890b;
}

.btn:hover {
    color: #11890b;
    border-color: #000;
}

/* Game selection display area */
.choices-area {
    display: flex;
    justify-content: center;
    margin: 0 0 1.25rem 0;
}

.halves {
    justify-content: center;
    flex-direction: column;
}

.halves h3 {
    font-size: 1.25rem;
}

.choices {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    border: 0.438rem solid;
    margin: 0.313rem 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.choices .fa-regular, .choices .fa-solid {
    font-size: 4.375rem;
}

/* Points tally and game results area */
.game-state-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scores h3 {
    font-size: 1.063rem;
    margin-bottom: 1.25rem;
}

.scores {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#win-state {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 0.313rem solid;
    margin: 0.313rem 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.188rem;
    font-weight: 700;
    background-color: #fff;
}

.win {
    color: #11890b;
    border-color: #000;
}

.lose {
    color: #e82121;
    border-color: #000;
}

.draw {
    color: #a86500;
    border-color: #000;
}

.points {
    font-size: 70px;
    border: 5px solid;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:  4.375rem;
    height: 85rem;
    border-radius: 20%;
    background-color: #fff;
}

.winning-score {
    color: #11890b;
    border-color: #000;
}

.losing-score {
    color: #e82121;
    border-color: #000;
}

.equal-score {
    color: #a86500;
    border-color: #000;
}

/* Media Queries for responsive layout */
@media screen and (min-width: 500px) {
    .btn {
        width: 6.25rem;
        height: 6.25rem;
        border: 0.375rem solid;
    }

    .controls-area .fa-regular {
        font-size: 3.125rem;
    }

    .choices {
        width: 9.375rem;
        height: 9.375rem;
        border: 0.5rem solid;
    }

    .choices .fa-regular, .choices .fa-solid {
        font-size: 5.625rem;
    }

    .points {
        font-size: 5rem;
        border: 0.375rem solid;
        margin: 5px;
        width: 0.313rem;
        height: 5.625rem;
    }

    #win-state {
        width: 5.625rem;
        height: 5.625rem;
        border: 0.375rem solid;
        margin: 0.313rem 2.5rem;
        font-size: 2.188rem;
    }

    h1 {
        font-size: 3.75rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.875rem;
    }

    .halves h3 {
        font-size: 1.563rem;
    }

    .scores h3 {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 600px) {
    .btn {
        width: 7.5rem;
        height: 7.5rem;
        border: 0.5rem solid;
    }
    
    .controls-area .fa-regular {
        font-size: 3.75rem;
    }

    .choices {
        width: 11.25rem;
        height: 11.25rem;
        border: 0.625rem solid;
    }

    .choices .fa-regular, .choices .fa-solid {
        font-size: 6.875rem;
    }

    .points {
        font-size: 5.625rem;
        border: 0.5rem solid;
        margin: 0.313rem;
        width: 5.625rem;
        height: 6.25rem;
    }

    #win-state {
        width: 6.25rem;
        height: 6.25rem;
        border: 0.5rem solid;
        margin: 0.313rem 3.125rem;
        font-size: 2.5rem;
    }

    h1 {
        font-size: 4.375rem;
    }

    h2 {
        font-size: 3.125rem;
    }

    h3 {
        font-size: 2.188rem;
    }

    .halves h3 {
        font-size: 1.875rem;
    }

    .scores h3 {
        font-size: 1.375rem;
    }
}

@media screen and (min-width: 750px) {
    .btn {
        width: 10rem;
        height: 10rem;
        border: 0.625rem solid;
    }

    .controls-area .fa-regular {
        font-size: 5.625rem;
    }

    .choices {
        width: 15rem;
        height: 15rem;
        border: 0.75rem solid #000;
    }

    .choices .fa-regular, .choices .fa-solid {
        font-size: 9.375rem;
    }

    .points {
        font-size: 6.25rem;
        border: 0.625rem solid;
        margin: 0.313rem;
        width: 6.25rem;
        height: 6.875rem;
    }

    #win-state {
        width: 6.875rem;
        height: 6.875rem;
        border: 0.625rem solid;
        margin: 0.313rem 5rem;
        font-size: 2.813rem;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3.75rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    .halves h3 {
        font-size: 2.188rem;
    }

    .scores h3 {
        font-size: 1.563rem;
    }
}

@media screen and (min-width: 1000px) {
    .game-area {
        width: 65%;
    }
}

@media screen and (min-width: 1200px) {
    .game-area {
        width: 55%;
    }
}

@media screen and (min-width: 1200px) {
    .game-area {
        width: 45%;
    }
}

/* Responsive design for narrow screen sizes */
@media screen and (max-width: 365px) {
    .btn {
        width: 3.75rem;
        height: 3.75rem;
        border: 0.188rem solid;
    }

    .controls-area .fa-regular {
        font-size: 1.875rem;
    }

    .choices {
        width: 4.688rem;
        height: 4.688rem;
        border: 0.188rem solid;
        margin: 0.313rem 0.625rem;
    }

    .choices .fa-regular, .choices .fa-solid {
        font-size: 2.5rem;
    }

    .points {
        font-size: 3.125rem;
        border: 0.188rem solid;
        width: 3.125rem;
        height: 3.75rem;
    }

    #win-state {
        width: 3.75rem;
        height: 3.75rem;
        border: 0.188rem solid;
        margin: 0.313rem 1.25rem;
        font-size: 1.563rem;
    }

    h1 {
        font-size: 1.875rem;
    }

    h2 {
        font-size: 1.563rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    .halves h3 {
        font-size: 0.938rem;
    }

    .scores h3 {
        font-size: 0.938rem;
    }  
}

/* Responsive design for narrow screen sizes */
@media screen and (max-width: 300px) {
    .btn {
        width: 3.125rem;
        height: 3.125rem;
        border: 0.125rem solid;
        margin: 0.188rem;
    }

    .controls-area .fa-regular {
        font-size: 1.563rem;
    }

    .choices {
        width: 4.063rem;
        height: 4.063rem;
        border: 0.125rem solid;
        margin: 0 0.625rem;
    }

    .choices .fa-regular, .choices .fa-solid {
        font-size: 1.875rem;
    }

    .points {
        font-size: 2.188rem;
        border: 0.125rem solid;
        width: 2.188rem;
        height: 2.813rem;
    }

    #win-state {
        width: 2.183rem;
        height: 2.183rem;
        border: 0.125rem solid;
        font-size: 1.25rem;
    }

    h1 {
        font-size: 1.562rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    .halves h3 {
        font-size: 0.938rem;
    }

    .scores h3 {
        font-size: 0.625rem;
    }  
}

@media screen and (max-width: 210px) {
    .game-area {
        width: 95%;
    }
}